@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url(../fonts/FuturaPT-Demi.ttf);
* {
  padding: 0;
  margin: 0;
}

.margin-left {
  margin: 0 0 0 16%;
}

.header {
  width: 100%;
  height: 1024px;
  background-image: linear-gradient(77.61deg, rgba(13, 18, 27, 0.9) 0%, rgba(0, 0, 0, 0) 128.26%), linear-gradient(77.61deg, rgba(50, 50, 50, 0.7) 0%, rgba(50, 50, 50, 0) 128.26%), url(../img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
  position: relative;
}

.header-head {
  width: 100%;
  height: 114px;
  background: rgba(13, 18, 27, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 105px 0;
}

.header-head__logo {
  display: block;
}

.header-head__nav {
  margin: 0 0 0 2.44791667%;
}

.header-head__nav-list {
  width: 692px;
  margin: 0 0 21px 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-head__nav-list-item-link {
  color: #fff;
  line-height: 18px;
  font-size: 15px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  opacity: .5;
  text-decoration: none;
}

.header-head__nav-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-head__nav-text-logo {
  margin: 0 10px 0 0;
}

.header-head__nav-text-txt {
  color: #fff;
  line-height: 162.3%;
  font-size: 12px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.header-head__nav-text-txt-link {
  color: #FFD8AB;
}

.header-head .black-line {
  margin: 0 19px 0 0;
}

.header-head .smartphone {
  width: 39px;
  height: 38px;
  margin: 0 15px 0 0;
  position: relative;
}

.header-head .smartphone .phone {
  position: absolute;
  left: 6px;
  top: -7px;
}

.header-head__numbers-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  color: rgba(204, 204, 204, 0.657);
  line-height: 28px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.header-head__numbers-text-link {
  color: #fff;
  line-height: 28px;
  font-size: 18px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.header-main__title {
  display: block;
  max-width: 740px;
  color: #fff;
  line-height: 140.9%;
  font-size: 48px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  text-transform: uppercase;
  margin: 0 0 49px 0;
}

.header-main__title-color {
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-main__text {
  display: block;
  width: 561px;
  margin: 0 0 43px 96px;
  color: #FAFBFC;
  line-height: 180%;
  font-size: 18px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.header-main__text-color {
  font-weight: 800;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-main__text::before {
  content: url(../img/flash.png);
  background: url(../img/forma-back.svg) no-repeat;
  background-position: -3px 7px;
  position: absolute;
  top: -8px;
  left: -96px;
}

.header-main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 660px;
}

.header-main__form-tel {
  width: 300px;
}

.header-main__form-tel-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0px 0;
}

.header-main__form-tel-label span {
  display: block;
}

.header-main__form-tel-label-text-left, .header-main__form-tel-label-text-right {
  color: #fff;
  line-height: 180%;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.header-main__form-tel-label-text-right {
  color: #828282;
}

.header-main__form-tel-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
     border-image: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-border-image: -webkit-linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  border-image-slice: 1;
  color: #fff;
  line-height: 180%;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.header-main__form-tel-input:focus {
  outline: none;
}

.header-main__form .form-btn {
  width: 300px;
  height: 65px;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  border-radius: 10px;
  border: none;
  color: #000;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__form .form-btn:focus {
  outline: none;
}

.header-checked {
  position: absolute;
  bottom: 61px;
  left: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-checked-text {
  color: #fff;
  line-height: 160%;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 5.5% 0 0;
}

.header-checked-text::before {
  content: url(../img/tick-1.svg);
  margin: 0 20px 0 0;
  background: url(../img/forma-back-2.svg) no-repeat;
  background-position: 0 2px;
}

.header-checked-text:nth-child(2) {
  width: 290px;
}

.header-checked-text:nth-child(4) {
  width: 230px;
}

.main .drawing {
  min-height: 1168px;
  background: url(../img/back2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .drawing-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 120px 0 0 0;
  margin: 0 0 0 16%;
}

.main .drawing-title__title {
  color: #fff;
  line-height: 140.2%;
  font-size: 40px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  text-transform: uppercase;
  display: block;
  width: 820px;
  margin: 0 0 20px 0;
}

.main .drawing-title__text {
  color: #fff;
  line-height: 170%;
  font-size: 20px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  display: block;
  margin-bottom: 70px;
}

.main .drawing-list {
  min-width: 1286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 19%;
}

.main .drawing-list__item {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 113px;
}

.main .drawing-list__item-text {
  color: #fff;
  line-height: 200%;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.main .drawing-list__item-text-title {
  color: #fff;
  line-height: 160%;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 0 0 13px 0;
}

.main .drawing-list__item::before {
  width: 107.95px;
  height: 103.76px;
  content: url(../img/icon-clock.png);
  background: url(../img/forma-back-3.svg) no-repeat;
  background-position: -2px -1px;
  position: absolute;
  left: -78.95px;
}

.main .drawing-list__item:nth-child(2) {
  margin-bottom: 60px;
}

.main .drawing-list__item:nth-child(2)::before {
  content: url(../img/icon-globus.svg);
}

.main .drawing-list__item:nth-child(3) {
  margin-bottom: 60px;
}

.main .drawing-list__item:nth-child(3)::before {
  content: url(../img/icon-geo.svg);
}

.main .drawing-list__item:nth-child(4)::before {
  content: url(../img/icon-home.svg);
}

.main .drawing-list__item:nth-child(5)::before {
  content: url(../img/icon-color.svg);
}

.main .drawing-list .form-btn {
  width: 300px;
  height: 65px;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  margin: 50px 0 0 0;
  border-radius: 10px;
  color: #000;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .drawing-list .form-btn:focus {
  outline: none;
}

.main .project {
  min-height: 2318px;
  background: url(../img/back3.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .project__title {
  padding: 120px 0 0 0;
  margin: 0 0 32px 0;
}

.main .project__title-title {
  width: 962px;
  color: #1e1e1e;
  line-height: 140.2%;
  font-size: 40px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  display: block;
}

.main .project__title-text {
  color: #1e1e1e;
  line-height: 170%;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.main .project__1st, .main .project__2nd, .main .project__3rd, .main .project__4th, .main .project__5th {
  height: 344px;
  width: 1305px;
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .project__1st .content, .main .project__2nd .content, .main .project__3rd .content, .main .project__4th .content, .main .project__5th .content {
  margin: 0 0 0 95px;
  position: relative;
}

.main .project__1st .content span, .main .project__2nd .content span, .main .project__3rd .content span, .main .project__4th .content span, .main .project__5th .content span {
  display: block;
}

.main .project__1st .content-title, .main .project__2nd .content-title, .main .project__3rd .content-title, .main .project__4th .content-title, .main .project__5th .content-title {
  color: #1e1e1e;
  line-height: 160%;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.main .project__1st .content-text, .main .project__2nd .content-text, .main .project__3rd .content-text, .main .project__4th .content-text, .main .project__5th .content-text {
  width: 547px;
  color: #1e1e1e;
  line-height: 200%;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin: 13px 0;
}

.main .project__1st .content-author, .main .project__2nd .content-author, .main .project__3rd .content-author, .main .project__4th .content-author, .main .project__5th .content-author {
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: none;
  line-height: 200%;
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.main .project__1st .content::before {
  content: '1';
  text-transform: uppercase;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: none;
  line-height: 141px;
  font-size: 110px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  position: absolute;
  left: -95px;
  top: -25px;
}

.main .project__2nd .content::before {
  content: '2';
  text-transform: uppercase;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: none;
  line-height: 141px;
  font-size: 110px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  position: absolute;
  left: -95px;
  top: -25px;
}

.main .project__3rd .content::before {
  content: '3';
  text-transform: uppercase;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: none;
  line-height: 141px;
  font-size: 110px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  position: absolute;
  left: -95px;
  top: -25px;
}

.main .project__4th .content::before {
  content: '4';
  text-transform: uppercase;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: none;
  line-height: 141px;
  font-size: 110px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  position: absolute;
  left: -95px;
  top: -25px;
}

.main .project__5th {
  padding: 0 0 120px 0;
}

.main .project__5th .content::before {
  content: '5';
  text-transform: uppercase;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: none;
  line-height: 141px;
  font-size: 110px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  position: absolute;
  left: -95px;
  top: -25px;
}

.main .entry {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 98px;
  padding-bottom: 171px;
}

.main .entry-content {
  width: 630px;
  padding-top: 22px;
  margin: 0 5.16% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .entry-content-title {
  width: 100%;
  color: #1E1E1E;
  line-height: 140.2%;
  font-size: 40px;
  font-weight: 600;
  font-family: "Futura PT", sans-serif;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.main .entry-content-text-1 {
  width: 100%;
  color: #1E1E1E;
  line-height: 170%;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 37px 0;
}

.main .entry-content-text-2 {
  color: #1E1E1E;
  line-height: 200%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  width: 629px;
  margin: 0 0 43px 0;
}

.main .entry-content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .entry-content__form-tel {
  width: 300px;
}

.main .entry-content__form-tel-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0px 0;
}

.main .entry-content__form-tel-label span {
  display: block;
}

.main .entry-content__form-tel-label-text-left, .main .entry-content__form-tel-label-text-right {
  color: #1E1E1E;
  line-height: 180%;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.main .entry-content__form-tel-label-text-right {
  color: #828282;
}

.main .entry-content__form-tel-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
     border-image: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-border-image: -webkit-linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  border-image-slice: 1;
  color: #1E1E1E;
  line-height: 180%;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.main .entry-content__form-tel-input:focus {
  outline: none;
}

.main .entry-content__form .form-btn {
  width: 300px;
  height: 65px;
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  border-radius: 10px;
  border: none;
  color: #000;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .entry-content__form .form-btn:focus {
  outline: none;
}

.main .entry-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .entry-author-profile {
  width: 271px;
  margin: 0 42.8px 0 0;
  position: relative;
}

.main .entry-author-profile-img {
  padding-left: 7px;
  margin: 0 0 16px 0;
  position: relative;
}

.main .entry-author-profile .back {
  position: absolute;
  top: 153px;
  right: -23px;
  z-index: -1;
}

.main .entry-author-profile .forma-back {
  position: absolute;
  bottom: -105px;
  left: -209.2px;
  z-index: -2;
}

.main .entry-author-profile-name, .main .entry-author-profile-job {
  color: #1E1E1E;
  line-height: 170%;
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.main .entry-author-profile-job {
  background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: none;
  font-size: 18px;
}

.main .entry-author-list {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .entry-author-list-item {
  color: #1E1E1E;
  line-height: 200%;
  font-size: 14px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 10px 0;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .entry-author-list-item:last-child {
  margin-bottom: 0;
}

.main .entry-author-list-item::before {
  content: url(../img/tick-2.svg);
  background-image: url(../img/forma-tick.svg);
  background-repeat: no-repeat;
  margin: 0 12px 0 0;
}
