@import '_needs.scss';

.margin-left {
    margin: 0 0 0 $n1;
}

.header {
    width: $w;
    height: 1024px;
    background-image: linear-gradient(77.61deg, rgba(13, 18, 27, 0.9) 0%, rgba(0, 0, 0, 0) 128.26%), linear-gradient(77.61deg, rgba(50, 50, 50, 0.7) 0%, rgba(50, 50, 50, 0) 128.26%), url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.2));
    position: relative;

    &-head {
        width: $w;
        height: 114px;
        background: rgba(13, 18, 27, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 105px 0;

        &__logo {
            display: block;
        }

        &__nav {
            margin: 0 0 0 2.44791667%;

            &-list {
                width: 692px;
                margin: 0 0 21px 0;
                list-style-type: none;
                display: flex;
                justify-content: space-between;

                &-item {
                    &-link {
                        @include txt(#fff, 18px, 15px, normal, $M);
                        opacity: .5;
                        text-decoration: none;
                    }
                }
            }

            &-text {
                display: flex;
                align-items: center;

                &-logo {
                    margin: 0 10px 0 0;
                }

                &-txt {
                    @include txt(#fff, 162.3%, 12px, normal, $M);

                    &-link {
                        color: #FFD8AB;
                    }
                }
            }
        }

        .black-line {
            margin: 0 19px 0 0;
        }

        .smartphone {
            width: 39px;
            height: 38px;
            margin: 0 15px 0 0;
            position: relative;

            .phone {
                position: absolute;
                left: 6px;
                top: -7px;
            }
        }

        &__numbers-text {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 250px;
            @include txt(rgba(204, 204, 204, 0.657), 28px, 18px, normal, $M);

            &-link {
                @include txt(#fff, 28px, 18px, normal, $M);
                text-decoration: none;
                margin: 0 10px 0 0;
            }
        }
    }

    &-main {

        &__title {
            display: block;
            max-width: 740px;
            @include txt(#fff, 140.9%, 48px, 600, $F);
            text-transform: uppercase;
            margin: 0 0 49px 0;

            &-color {
                background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__text {
            display: block;
            width: 561px;
            margin: 0 0 43px (19px + 77px);
            @include txt($c2, 180%, 18px, 300, $M);
            position: relative;

            &-color {
                font-weight: 800;
                background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &::before {
                content: url(../img/flash.png);
                background: url(../img/forma-back.svg) no-repeat;
                background-position: -3px 7px;
                position: absolute;
                top: -8px;
                left: -19px - 77px;
            }
        }

        &__form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 660px;

            &-tel {
                width: 300px;

                &-label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0 0px 0;

                    span {
                        display: block;
                    }

                    &-text-left,
                    &-text-right {
                        @include txt(#fff, 180%, 16px, normal, $M);
                    }

                    &-text-right {
                        color: $c3;
                    }
                }

                &-input {
                    width: $w;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid transparent;
                    border-image: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                    -moz-border-image: -moz-linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                    -webkit-border-image: -webkit-linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                    border-image-slice: 1;
                    @include txt(#fff, 180%, 16px, normal, $M);

                    &:focus {
                        outline: none;
                    }
                }
            }

            .form-btn {
                width: 300px;
                height: 65px;
                background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                border-radius: 10px;
                border: none;
                @include txt(#000, 20px, 16px, 500, $M);
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &-checked {
        position: absolute;
        bottom: 61px;
        left: 16%;
        display: flex;

        &-text {
            @include txt(#fff, 160%, 16px, 300, $M);
            display: flex;
            align-items: baseline;
            margin: 0 5.5% 0 0;

            &::before {
                content: url(../img/tick-1.svg);
                margin: 0 20px 0 0;
                background: url(../img/forma-back-2.svg) no-repeat;
                background-position: 0 2px;
            }

            &:nth-child(2) {
                width: 290px;
            }

            &:nth-child(4) {
                width: 230px;
            }
        }
    }
}

.main {
    .drawing {
        min-height: 1168px;
        background: url(../img/back2.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            align-self: flex-start;
            padding: 120px 0 0 0;
            margin: 0 0 0 $n1;

            &__title {
                @include txt(#fff, 140.2%, 40px, 600, $F);
                text-transform: uppercase;
                display: block;
                width: 820px;
                margin: 0 0 20px 0;
            }

            &__text {
                @include txt(#fff, 170%, 20px, 600, $F);
                display: block;
                margin-bottom: 70px;
            }
        }

        &-list {
            min-width: 1286px;
            display: flex;
            flex-wrap: wrap;
            margin-left: $n1 + 3%;

            &__item {
                width: 560px;
                display: flex;
                position: relative;
                margin-right: 113px;

                &-text {
                    @include txt(#fff, 200%, 16px, 300, $M);

                    &-title {
                        @include txt(#fff, 160%, 18px, 600, $M);
                        display: block;
                        margin: 0 0 13px 0;
                    }

                }

                &::before {
                    width: 107.95px;
                    height: 103.76px;
                    content: url(../img/icon-clock.png);
                    background: url(../img/forma-back-3.svg) no-repeat;
                    background-position: -2px -1px;
                    position: absolute;
                    left: -78.95px;
                }

                &:nth-child(2) {
                    margin-bottom: 60px;

                    &::before {
                        content: url(../img/icon-globus.svg);
                    }
                }

                &:nth-child(3) {
                    margin-bottom: 60px;

                    &::before {
                        content: url(../img/icon-geo.svg);
                    }
                }

                &:nth-child(4) {
                    &::before {
                        content: url(../img/icon-home.svg);
                    }
                }

                &:nth-child(5) {
                    &::before {
                        content: url(../img/icon-color.svg);
                    }
                }
            }

            .form-btn {
                width: 300px;
                height: 65px;
                background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                margin: 50px 0 0 0;
                border-radius: 10px;
                @include txt(#000, 20px, 16px, 500, $M);
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .project {
        min-height: 2318px;
        background: url(../img/back3.png) no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title {
            padding: 120px 0 0 0;
            margin: 0 0 32px 0;

            &-title {
                width: 962px;
                @include txt(#1e1e1e, 140.2%, 40px, 600, $F);
                text-transform: uppercase;
                margin: 0 0 20px 0;
                display: block;
            }

            &-text {
                @include txt(#1e1e1e, 170%, 20px, 600, $M);
            }
        }

        &__1st,
        &__2nd,
        &__3rd,
        &__4th,
        &__5th {
            height: 344px;
            width: 1305px;
            margin: 0 0 50px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .content {
                margin: 0 0 0 95px;
                position: relative;

                span {
                    display: block;
                }

                &-title {
                    @include txt(#1e1e1e, 160%, 18px, 600, $M);
                }

                &-text {
                    width: 547px;
                    @include txt(#1e1e1e, 200%, 16px, 300, $M);
                    margin: 13px 0;
                }

                &-author {
                    background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @include txt(none, 200%, 16px, 600, $M);
                }
            }
        }

        &__1st {
            .content {
                &::before {
                    content: '1';
                    @include number;
                }
            }
        }

        &__2nd {
            .content {
                &::before {
                    content: '2';
                    @include number;
                }
            }
        }

        &__3rd {
            .content {
                &::before {
                    content: '3';
                    @include number;
                }
            }
        }

        &__4th {
            .content {
                &::before {
                    content: '4';
                    @include number;
                }
            }
        }

        &__5th {
            padding: 0 0 120px 0;

            .content {
                &::before {
                    content: '5';
                    @include number;
                }
            }
        }
    }

    .entry {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        padding-top: 98px;
        padding-bottom: 171px;

        &-content {
            width: 630px;
            padding-top: 22px;
            margin: 0 5.16% 0 0;
            display: flex;
            flex-direction: column;

            &-title {
                width: 100%;
                @include txt($c4, 140.2%, 40px, 600, $F);
                text-transform: uppercase;
                margin: 0 0 20px 0;
            }

            &-text-1 {
                width: 100%;
                @include txt($c4, 170%, 20px, 600, $M);
                margin: 0 0 37px 0;
            }

            &-text-2 {
                @include txt($c4, 200%, 16px, 400, $M);
                width: 629px;
                margin: 0 0 43px 0;
            }

            &__form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                &-tel {
                    width: 300px;

                    &-label {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 0 0px 0;

                        span {
                            display: block;
                        }

                        &-text-left,
                        &-text-right {
                            @include txt($c4, 180%, 16px, normal, $M);
                        }

                        &-text-right {
                            color: $c3;
                        }
                    }

                    &-input {
                        width: $w;
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid transparent;
                        border-image: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                        -moz-border-image: -moz-linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                        -webkit-border-image: -webkit-linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                        border-image-slice: 1;
                        @include txt($c4, 180%, 16px, normal, $M);

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .form-btn {
                    width: 300px;
                    height: 65px;
                    background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                    border-radius: 10px;
                    border: none;
                    @include txt(#000, 20px, 16px, 500, $M);
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        &-author{
            display: flex;
            align-items: flex-end;
            &-profile{
                width: 271px;
                margin: 0 42.8px 0 0;
                position: relative;

                &-img{
                    padding-left: 7px;
                    margin: 0 0 16px 0;
                    position: relative;
                }

                .back{
                    position: absolute;
                    top: 153px;
                    right: -23px;
                    z-index: -1;
                }

                .forma-back{
                    position: absolute;
                    bottom: -105px;
                    left: -209.2px;
                    z-index: -2;
                }

                &-name,
                &-job{
                    @include txt($c4, 170%, 30px, 600, $M);
                }

                &-job{
                    background: linear-gradient(268.05deg, #FFF9C6 15.37%, #FFD8AB 99.44%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: none;
                    font-size: 18px;
                }
            }

            &-list{
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;

                &-item{
                    @include txt($c4, 200%, 14px, 300, $M);
                    margin: 0 0 10px 0;
                    width: 210px;
                    display: flex;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    &::before{
                        content: url(../img/tick-2.svg);
                        background-image: url(../img/forma-tick.svg);
                        background-repeat: no-repeat;
                        margin: 0 12px 0 0;
                    }
                }
            }
        }
    }
}