//size
$w: 100%;
//colors
$c1: #FFD8AB;
$c2: #FAFBFC;
$c3: #828282;
//fonts
$M: 'Montserrat';
$F: 'Futura PT';

//import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url(../fonts/FuturaPT-Demi.ttf);

//mixin
@mixin txt ($color, $line-height, $font-size, $font-weight, $font-family) {
    color: $color;
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}